/* static/css/typography.css */
body {
  font-size: calc(1rem * var(--scale-factor));
  line-height: calc(var(--scale-factor) * 1.5);
}

h1, .h1 {
  font-size: calc(3rem * var(--scale-factor));
  margin-bottom: calc(var(--scale-factor) * 1.5rem);
}
/* Continue with h2-h6... 1*/

@media (max-width: 1280px) {
  h1 { font-size: calc(2.25rem * var(--scale-factor)); }
}
/* Continue media queries... */
